body {
  background-color: #eddfd2;
}
h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 50px;
  z-index: 5;
}
h2 {
  color: white;
  font-size: 20px;
  padding-bottom: 15px;
  font-family: sans-serif;
}
.aFont {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -130px;
  z-index: 1;
}
.bFont {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: -8px;
  color: white;
}
.facialImage {
  margin-top: 40px;
  text-align: center;
}
#buttons {
  margin-top: -492px;
}
#buttons2 {
  margin-top: 283px;
}
.subText {
  margin-top: 180px;
}
