body {
  background-color: #eddfd2;
}
h1 {
  color: white;
  text-align: center;
  font-family: sans-serif;
  font-size: 50px;
  margin-top: 50px;
  z-index: 5;
}
h2 {
  color: white;
  font-size: 22px;
  padding-bottom: 5px;

  font-family: sans-serif;
  margin: 11px;
}
.aFont {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: -130px;
  z-index: 1;
}
.bFont {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 18px;
  margin-top: -8px;
  color: white;
}
.facialImage {
  margin-top: 40px;
  text-align: center;
}
#buttons {
  margin-top: -492px;
}
#buttons2 {
  margin-top: 283px;
  padding-top: 50px;
}
.subText {
  margin-top: 140px;
}
.subText3 {
  font-size: 15px;
}
.subText4 {
  font-family: "Arial", sans-serif;
}
.massageImage {
  text-align: center;
}
.testimonial-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.testimonial {
  background-color: #f3f3f3;
  border-left: 4px solid cadetblue;
  margin: 15px 0;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonial p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
  margin-bottom: 10px;
}

.testimonial h4 {
  font-size: 14px;
  font-weight: bold;
  color: cadetblue;
  margin-top: 5px;
}
p {
  text-align: left;
}
.moreTestimonials {
  margin-top: -15px;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.Licenses {
  text-align: center;
  margin: 5px;
  margin-bottom: 50px;
  margin-top: 20px;
  font-size: 15px;
  color: cadetblue;
}
.LM logo {
}
div.container-fluid {
  margin-bottom: -20px;
  margin-top: -25px;
}
div.narbar {
}
.skin-script-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.skin-script-container h1 {
  font-family: "Arial", sans-serif;
  font-size: 48px;
  color: #8a77be; /* This is a bright blue, you can change it to match the brand colors */
  text-shadow: 2px 2px 4px #4f378f(0, 0, 0, 0.5);
  letter-spacing: 2px;
  text-transform: uppercase;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.productOneName {
  margin-top: -40px;
  margin-bottom: -25px;
}

h1.productOneName2 {
  color: black;
  padding-top: 50px;
}
hr {
  margin-top: 4px;
}
hr.hr2 {
  margin-top: -65px;
}
img.productImage1 {
  margin-top: -25px;
}
#productImage1 {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 8px;
}
#productImage2 {
  display: block;
  margin: 0 auto;
}

img.productImage2 {
  margin-top: -50px;
}
.andSign {
  color: #1f7f85;
}
button#productImage1.btn.btn-outline-dark {
  margin-top: -75px;
}
button#productImage2.btn.btn-outline-dark {
  margin-top: 15px;
}
div.subText4 {
  font-size: 25px;
}
